/* need to add to theme

side_nav , slide , slide-button  trouble(box color and text h3,h4,p,li)
*/

html{
        background-color:aqua;
        color:rgb(232, 9, 161);
        scroll-behavior: smooth;
    }

header{
    background-color: mediumblue;
    color:white;

}
header>img{
    max-width: 20vw;
    margin: 1rem;

}
header>h1{
    display: inline-block;
    margin: 1rem 0;
    vertical-align: top;
}

header>nav>a{
    background-color: white;
    color: midnightblue;
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
    border: 1px solid transparent;
}
header>nav{
    padding-bottom: 0rem;
    padding-left: 1rem;
    
    padding-right: 0rem;
    padding-top: 1rem;

}
header>nav>a:hover{
    background-color: midnightblue;
    color: white;
    border: 1px solid white;
}

/* ///////////BODY //////////////////  */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}
/* Layout container for side nav and content */
main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

/* Side navigation styles */
.side_nav {
  width: 15%;
  background-color: mediumblue;
  padding: 1vh 1vw;
  color: white;
  box-sizing: border-box;

  position:fixed;
  top:22vh;
  height: 70vh;
  overflow-y: auto;
}

.side_nav h2 {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.side_nav a {
  color: white;
  text-decoration: none;
}

.side_nav a:hover {
  text-decoration: underline;
}

/* Main content area */
main > .content {
  width: auto;
  padding: 1rem;
  box-sizing: border-box;

  
  

}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .side_nav, 
  main > .content {
    width: 20%;
  }
}




body>footer{
    background-color: midnightblue;
    color: white;
    padding: 1rem;
    text-align: center;

}
body>footer>a{
    color: white;
    margin: 1rem;

}


  img { /* small screen adjustment needed */
      max-width: 90%;
      align-items: center;
      margin: 3rem;
      border: 1.5rem;
      border-radius: 3rem;
      border-color: indigo;
      border: solid thick;
    }
/* /////// index.html /////////////////
used to make grid pattern
*/
.home{
    display: inline-block;
    text-align: center;
    align-items: center;
}
.main_container{
    display: inline-block;
    width: 90%;
    
    background-color: slategray;
    padding: 1rem;
    text-align: left;
    color: aliceblue;
    border: 2rem;
    border-color: black;
    border-radius: 1rem;
    overflow: none;
    margin: 0;
    
}

/* /////// forever.html ///// adoption.html////////////
used to make grid pattern
*/


.A_container, .F_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    gap: 0px;
    background-color: slategray;
    padding: 0px;
    text-align: center;
    color: aliceblue;
    border: 1pX solid;
    border-color: black;
    border-radius: 15px;
    overflow: none;
    margin: 0;
    
}
.A_card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid silver;
    border-radius: 15px;
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;
    width: 50%;     
    box-sizing: border-box;
}

.F_card {
    
    display: grid;
    grid-template-rows: 55% 45%;
    /*grid-template-columns: 55% 45%; shift to this to go picture and discription side by side */
    border: 5px silver;
    border-style: solid;
    border-radius: 15px;
    background-color: antiquewhite;
    padding: 5px;
    height: 40rem;


}
.F_picture, .A_picture {

align-items: center;
width: 100%;
height: auto;
border: 2px black;
object-fit: cover;
display: block;


}
.F_content, .A_content{

height:auto;
border: 2px rgb(12, 5, 139);
border-style: groove;
background-color: aquamarine;

}
.F_card:hover, .A_card:hover{
    opacity: .8;

    /*transform: scale(1.1); */
}
.F_picture:hover, .A_picture:hover{
    opacity: 1.5;
    
    /* transform: scale(1.20); */

}
.F_content:hover, .A_content:hover{
    opacity: 1.5;
    

    
    color: midnightblue;
    overflow-x: visible;
    /* transform: scaleY(1.5); 
    font-size: large;
    */


}

/*////////////knowledge page////////////  */

.slide {
  display: none;
}

.slide.active {
  display: inline-block;
}

.slide-container, .troubles_group {
  position: relative;
  max-width: 75%;
  margin: 2rem auto;
  padding: 1rem;
  
  background-color: white;
  border: 2px solid midnightblue;
  
  border-radius: 1rem;
  display: flexbox;
  
}

.slide-container button {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  background-color: mediumblue;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.slide-container img {
  width: 50%;
  height: auto;
}

.troubles_group{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-width: .5rem;
  border: solid;
  border-radius: 1rem;
  border-color: black;
  
}
#spot3{
  width: 100%;
}

.trouble{
  width: 40%;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  border-width: .5rem;
  border: solid;
  border-radius: clamp(0.3rem, 1vw, 1rem);
  border-color: black;
}
.trouble > img {
  width: 80%;
}

.conclusion {
  display: block;
  width: 100%;

}

